name: flutter_demo
description: "Flutter demo"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  go_router: ^16.3.0
  image_picker: ^1.2.1
  decimal: ^3.2.4
  flutter_colorpicker: ^1.1.0
  path_provider: ^2.1.5

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
